.home{
    display: flex;
    width: 100%;

    .homeContainer{
        flex: 6;

        .widgets, .charts{
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .charts{
            padding: 5px 20px;
        }

        .listContainer{
            -webkit-box-shadow: 2px 4px 10px 1px #2d3436  ;
            box-shadow: 2px 4px 10px 1px #b2bec3 ;
            padding: 10px; 
            margin: 20px;

            .listTitle{
                font-weight: 500;
                color: #636e72;
                margin-bottom: 15px;
            }
        }
    }
}