.new{
    display: flex;
    width: 100%;

    .newConainer{
        flex: 6;

        .top, .bottom{
            -webkit-box-shadow: 2px 4px 10px 1px #2d3436;
            box-shadow: 2px 4px 10px 1px #b2bec3;
            padding: 20px;
            margin: 20px;
            display: flex;

            h1{
                color: #b2bec3;
                font-size: 20px;
            }

            .left{
                flex: 1;
                text-align: center;

                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right{
                flex: 2;

                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: space-around;
                    // padding-left: 15px;

                    .formInput{
                        width: 40%;
                        // padding-left: 15px;

                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .icon{
                                cursor: pointer;
                            }
                        }

                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid #b2bec3;
                        }
                    }

                    button{
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: #0984e3;
                        color: white;
                        cursor: pointer;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}